/* footer.scss */

.footer-container {
  background-color: white;
  position: relative;
  padding: 15px 20px;
  padding-inline-start: 0px;
  border-top: 1.5px solid black;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-weight: 1000;

  &__link {
    color: white;
    text-shadow:
      -1px 0 black,
      0 1px black,
      1px 0 black,
      0 -1px black;
    text-decoration: none;
  }
}
@media only screen and (max-width: 992px) {
  .footer-menu {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

    &__item {
      width: 100%;
      margin: 10px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer-menu {
    &__item {
      width: 80% !important;
      margin: 10px;
    }
  }
}
