.eye-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    0,
    rgba(23, 173, 209, 1) 50%,
    rgba(0, 10, 120, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  z-index: 3;
  -webkit-mask-image: radial-gradient(
    circle at center,
    transparent 0px,
    black 0px
  );
  mask-image: radial-gradient(circle at center, transparent 0px, black 0px);
}

#eye-empty {
  fill: none;
  stroke: black;
  stroke-width: 10;
}

#eye1 {
  fill: #fbe7cf;
  stroke: black;
  stroke-width: 1;
}

#eye2 {
  fill: #3fa396;
  stroke: black;
  stroke-width: 1;
}

#eye3 {
  fill: #f88d3a;
  stroke: black;
  stroke-width: 1;
}

#pupil1 {
  fill: #3fa396;
  stroke: black;
  stroke-width: 1;
}

#pupil2 {
  fill: 000000;
  stroke: black;
  stroke-width: 1;
}

#pupil3 {
  fill: #fbe7cf;
  stroke: black;
  stroke-width: 1;
}

#eye-closed-top,
#eye-closed-bottom {
  fill: #3fa396;
  stroke: black;
  stroke-width: 1;
}
