/* variables.scss */

$day-color-first: rgba(241, 223, 102, 1);
$day-color-second: rgba(83, 155, 210, 1);

$night-color-first: rgba(0, 10, 120, 1);
$night-color-second: rgba(23, 173, 209, 1);

$orange: rgb(250, 188, 57);
